# Copyright (c) 2018 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config GPIO_NRFX
	bool "nRF GPIO driver"
	default y
	depends on (DT_HAS_NORDIC_NRF_GPIO_ENABLED || DT_HAS_NORDIC_NRF_GPIO_V2_ENABLED)
	select NRFX_GPIOTE
	select NRFX_GPIOTE20 if HAS_HW_NRF_GPIOTE20
	select NRFX_GPIOTE30 if HAS_HW_NRF_GPIOTE30
	select NRFX_GPIOTE130 if HAS_HW_NRF_GPIOTE130
	select NRFX_GPIOTE131 if HAS_HW_NRF_GPIOTE131
	help
	  Enable GPIO driver for nRF line of MCUs.
